
.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.listItemButton {
    width: auto;
    min-width: 101px;
    height: 30px;
    border-radius: 10px;
}

.title {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
}

.song {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}